<script src="/static/js/highcharts.js"></script>
<style>
  .description {
    font-size: 30px;
    font-weight: bold;
  }
</style>
{{if eq 0 .latestStatus.ID}}
<div class="ui ignored warning message">
  <p>There is no status for now</p>
</div>
{{else}}
<h2 class="ui header">Server Status 
  <span style="font-size:10px; color: gray">(Last update date : {{dateformat .latestStatus.InDate "2006-01-02 15:04:05"}})</span>
</h2>
<div class="ui four cards">
  <div class="card">
    <div class="content">
      <div class="header">Running</div>
      <div class="description">
        {{ .server.IsRunning }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">IP</div>
      <div class="description">
        {{ .server.IP }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Version</div>
      <div class="description">
        {{.latestStatus.Version}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Mode</div>
      <div class="description">
        {{.latestStatus.ServerState}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Node Count</div>
      <div class="description">
        {{.latestStatus.ZnodeCount}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Alive Connections</div>
      <div class="description">
        {{.latestStatus.NumAliveConnections}}
      </div>
    </div>
  </div>
</div>
<!--<div id="node" style="min-width: 310px; height: 400px; margin: 10px auto"></div>-->
<div id="connections" style="min-width: 310px; height: 400px; margin: 10px auto"></div>
<div id="packets" style="min-width: 310px; height: 400px; margin: 10px auto"></div>
<script>
  $(function () {
    var data = {
      "date":[{{range $k,$v:=.status}}{{dateformat $v.InDate "15:04"}},{{end}}],
      "received":[{{range $k,$v:=.status}}{{$v.PacketsReceived}},{{end}}],
      "sent":[{{range $k,$v:=.status}}{{$v.PacketsSend}},{{end}}],
      "node":[{{range $k,$v:=.status}}{{$v.ZnodeCount}},{{end}}],
      "connections":[{{range $k,$v:=.status}}{{$v.NumAliveConnections}},{{end}}]
    };
    var packateSeries = [{
      "name":"Packets Received",
      "data":data.received
    },{
      "name":"Packets Sent",
      "data":data.sent
    }]
    var connectionSeries = [{
      "name":"Alive Connections",
      "data":data.connections
    }]
    // initBarCharts("node", "Node Count", "Count", data.date, data.node)
    initSplineChart("packets", "Packets Received And Sent", "Packets", data.date, packateSeries)
    initSplineChart("connections", "AliveConnections", "Connections", data.date, connectionSeries)
});

</script>
{{end}}