{{if lt 0 (.clusters|len)}} {{range $k,$v:= .clusters}}
<div style="margin-bottom: 50px">
  <h4 class="ui horizontal divider header">
  <i class="server icon"></i> {{ $v.Name }} 
</h4>
  <div class="ui header">{{ $v.Description }} </div>

  <table class="ui red table">
    <tbody>
      <thead>
        <tr>
          <th>Name</th>
          <th class="center aligned">Address</th>
          <th class="center aligned">Running</th>
        </tr>
      </thead>
      {{range $k2,$s:= $.servers}} {{if eq $v.ID $s.ClusterID}}
      <tr>
        <td>
          <a href="/server/detail/{{ $s.ID }}">
            {{ $s.Name }}
          </a>
        </td>
        <td class="center aligned">{{ $s.IP }}:{{ $s.Port }}</td>
        <td class="center aligned">
          {{if eq true $s.IsRunning }}
          <i class="large green checkmark icon"></i> {{else}}
          <i class="large red remove icon"></i> {{end}}
        </td>
      </tr>
      {{end}} {{end}}
    </tbody>
  </table>
</div>
{{end}} {{else}}
<div class="ui ignored warning message">
  <p>There is no clusters. Please <a href="/cluster/add">Add</a> first.</p>
</div>
{{end}}