<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
</head>

<body style="background-color: #DADADA;">
  <div class="ui middle aligned center aligned grid" style="height: 100%;">
    <div class="column">
      <h2 class="ui teal header">
        <div class="content" style="font-size: 40px">
          ZOOKEEPER MONITOR
        </div>
      </h2>
      <br>
      <p style="font-size: 30px;font-weight: bold;">404 - Page Not Found</p>
      <div class="ui large buttons">
        <a href="javascript:history.back();" class="ui teal button">Go Back</a>
        <div class="or"></div>
        <a href="/" class="ui green button">Go Home</a>
      </div>
    </div>
  </div>
</body>

</html>